[2017-07-24 14:50] RoelN opened #1 "Wait until fonts loaded through `@font-face` have been applied"
When loading an external font through `@font-face`, the font size will already have been calculated based on the fallback font (e.g. Times New Roman). When the external font is applied, the font size isn't being recalculated.

Possible solution is to see if the proper fonts have been loaded and applied (using [Fontfaceobserver](https://github.com/bramstein/fontfaceobserver) perhaps). Or you might

[2017-07-25 15:06] rikschennink commented on #1
I've decided to place it out of scope and add a quick guide to the readme on how to refresh Fitty elements based on when webfonts finish loading. Keeps the original library smaller for people not using Webfonts and makes it more transparent when a fallback should be used.

[2017-07-25 15:06] #1 closed

[2017-07-26 10:25] rikschennink opened #2 "Fix slight scaling problems on Safari (Desktop and Mobile)"
Initial scaling is a bit off, when resizing the viewport it gets corrected but seems to re-correct incorrectly later on.

[2017-07-26 10:25] rikschennink opened #3 "Test for width changes on 'resize' event"
Currently also resizes when height changes, would be more optimal to check if viewport width has changed since previous event.

[2017-07-26 10:31] rikschennink opened #4 "Improve handling of selector input"
When passing a querySelector to the `fitty` method Fitty currently converts it to an array of elements then exists the method and calls `fitty` for each node. Each instance requests a redraw pushing away the initial redraw moment.

Parsing all nodes and then requesting a single redraw possibly improves performance.

[2017-07-26 10:32] rikschennink opened #5 "Fitty API not returned when passing querySelector"
`fitty` method does not return its API when passing a querySelector. Should return an array of instances.

[2017-07-26 11:18] rikschennink commented on #5
Resolved in version 2.0.1

[2017-07-26 11:18] #5 closed

[2017-07-27 19:58] curtishenson opened #6 "Latest version published to NPM"
Has 2.1.0 been published to NPM?

Saw that you just released it just a few hours ago so maybe NPM is being slow.

[2017-07-28 07:41] rikschennink commented on #6
Nope, can't blame it on NPM unfortunately 🙃

Just published the new version, thanks for the heads-up!

[2017-07-28 07:41] #6 closed

[2017-07-28 08:20] Werninator opened #7 "Copy and pasting breaks width limit"
I have checked out your demo on [the fitty page](https://rikschennink.github.io/fitty/) and I came across some bugs while copy and pasting:

* when pasting one character (e.g. "a" of wizard) over and over again: the "a"s keep their size and slowly begin to break the width length
* when pasting more than one character, all characters won't even resize and the width limit will be broken instantly

T

[2017-07-28 08:34] rikschennink commented on #7
It sometimes does act a little bit odd on Safari, I guess this is mostly because of the element being contenteditable, which is, to be honest, more of a gimmick to demo the functionality.

Still, it would be nice if this worked flawlessly as well so I will look into it.

[2017-07-29 11:27] rikschennink opened #8 "Keep an eye on ResizeObserver"
Super useful for Fitty
https://developers.google.com/web/updates/2016/10/resizeobserver

But support is not the best:
http://caniuse.com/#feat=resizeobserver

[2017-07-29 23:32] gragland opened #9 "Fit to container height"
Awesome work on this library! I'm looking for something similar but that scales the font size of multi-line text to always fit the container height rather than width. Any thoughts on adding a height option?

[2017-07-30 13:51] rikschennink commented on #9
Thanks! I want to keep the library as small as possible, but this seems like a logical feature for it, I'll see if I can incorporate it without it adding too much additional weight.

[2017-07-31 11:52] #8 closed

[2017-07-31 11:52] rikschennink commented on #3
Version 2.1.1 now tests for width changes on the element itself, this optimises rendering for more situations.

[2017-07-31 11:59] rikschennink commented on #2
Has to do with scrollbar. When it's enabled because a text is scaled it will not trigger a redraw as the scrollbar appearing does not trigger a `"resize"` event.

Could add a [hidden iframe that listens to resize events](https://gist.github.com/OrganicPanda/8222636) but that adds more weight. For now will close till anyone reports trouble because of scrollbar appearing.

[2017-07-31 11:59] #2 closed

[2017-07-31 13:27] rikschennink commented on #4
In version 2.1.1, Fitty will collect all elements and call redraw after they've been collected, this resulted in a 70ms performance gain (measured @ 10x CPU slowdown).

[2017-07-31 13:27] #4 closed

[2017-07-31 13:28] #3 closed

[2017-07-31 15:02] JanCVanB opened #10 "Demo seems broken"
Hi, I'm new to fitty, but is this intended demo behavior?

<img width="1437" alt="screen shot 2017-07-31 at 7 59 22 am" src="https://user-images.githubusercontent.com/4754114/28783855-7f384290-75c6-11e7-9f2a-237ab65c8a20.png">

Mac OSX 10.12.5
Chrome 59.0.3071.115
No output in the console

[2017-07-31 15:52] rikschennink commented on #10
It seems I've introduced a bug in version 2.1.1 where it optimizes to check if the parent width has changed, but if the content changes this will cause an incorrect update. Will push a fix version later today.

On 31 Jul 2017, 17:03 +0200, Jan Van Bruggen <notifications@github.com>, wrote:

[2017-07-31 16:31] kili-ilo commented on #10
Great, thanks!

[2017-07-31 19:43] rikschennink commented on #10
Should be fixed now. Thanks for reporting :-)

[2017-07-31 19:43] #10 closed

[2017-08-02 08:53] rikschennink opened #11 "Use clientWidth instead of offsetWidth to calculate available space"
`offsetWidth` includes borders, `clientWidth` does not, so should yield a better result.

Would also be nice to exclude `padding`, need to investigate if can be retrieved at low cost without causing reflow / repaint.

[2017-08-02 15:31] rikschennink commented on #11
Fixed in version 2.2.0

[2017-08-02 15:31] #11 closed

[2017-08-02 15:32] rikschennink commented on #7
Tweaked styles of the contenteditable inner elements. Improves demo rendering a little bit.

[2017-08-03 13:07] Werninator commented on #7
Nice! Tested it again both on Chrome and Safari and it seems to work as intended.

[2017-08-03 18:34] rikschennink commented on #7
Good enough for now ;-)

[2017-08-03 18:34] #7 closed

[2017-08-05 21:14] Infeligo opened #13 "Provide uncompressed transpiled version of fitty as part of distribution"
Currently, if I install fitty from npm and try to import like this

[code]

then the `fitty.js` file will be imported, because it is specified as the `main` script.

However, it is very likely that you'll get a JavaScript error, because `fitty.js` is written in ES6. Tools like `vue-cli` or `create-react-app` generate such Webpack config that applies Babel transpilation only to application source.

[2017-08-08 05:50] rikschennink opened #15 "Introduce "accuracy" option while reducing performance improves fitting accuracy."
Currently, if the distance between the text width and the container width is very small the re-scale is sometimes off by a couple pixels. Increasing the distance on purpose will result in an additional reflow (thus lowering performance) but would increase fitting accuracy.

[2017-08-08 05:54] rikschennink commented on #13
That sounds logical, can you perhaps share articles that contain good practices concerning the main module setup? As in, should it be minimized, should it even be wrapped in a UMD? Maybe it would be more interesting to generate a `fitty.module.js` for use with npm. I'm quite new to this, so any resources are useful.

[2017-08-08 11:13] Infeligo commented on #13
I haven't seen a good article with real explanations, but instead there are a lot of starters [[1](https://github.com/UWFosterIT/es6-library-starter), [2](https://github.com/krasimir/webpack-library-starter)] for library development.

[2017-08-09 08:21] rikschennink commented on #13
Thanks, I'm looking into it.

[2017-08-09 08:28] rikschennink commented on #13
Decided to not go with the `.min` file for node as the UMD wrapper and such is not necessary in that environment. If you have any feedback on this pull request ( #16 ) that would be welcomed. Tested with Browserify and seems to function correctly.

[2017-08-09 08:28] #13 closed

[2017-08-23 14:38] x35a commented on #9
@gragland try this https://gist.github.com/rosivanov/d3d9cc739e36f06b96a332d4bdef7d9e

[2017-08-24 03:31] gragland commented on #9
@rosivanov Thanks! Will test that out once I get a chance.

[2017-08-24 06:33] rikschennink commented on #9
@rosivanov Thanks!

[2017-08-24 07:01] x35a commented on #9
@gragland @rikschennink You are welcome) **Please note** that this is very tiny code snippet which does not detect @font-face load and images load.
To do this I would recommend libs below
https://github.com/JenniferSimonds/FontDetect
https://github.com/desandro/imagesloaded

[2017-08-24 08:42] kobeaerts opened #17 "Feature Request: Force max size in multiLine form"
When multiLine is active it looks like Fitty goes for the minSize fontsite, would be cool if we could ask it to go to the maxSize!

[2017-08-25 08:55] rikschennink commented on #17
Interesting! Would that result in having each word on a single line? Or an equal amount of characters per line?

[2017-08-25 09:26] kobeaerts commented on #17
Hmm, good question :D

I guess it would indeed go to almost one word on a single line :/

[2017-08-25 09:41] rikschennink commented on #17
You could do the calculations in JavaScript, split the `textContent` of a header on spaces, wrap each resulting word in a `<span>` and then call `fitty` on each element. That would basically do it I think. That way you would have more flexibility on how you'd split up a line of text and it would keep Fitty focussed on scaling up given text instead of "knowing too much".

[2017-08-30 08:35] Fjonan opened #18 ".unsubscribe() should consider all changed inline-styles"
At the moment the unsubscribe() only removes the font-size from the style attribute, leaving white-space: nowrap and display: inline-block in place.

Best case would be, if the plugin remembers, if it added one or both of these styles and remove them accordingly when unsubscribing to accurately reset the styling to what it was before applying fitty()

[2017-09-01 06:31] rikschennink commented on #18
Good point, I'll look into it as soon as possible.

[2017-09-04 01:28] lazarljubenovic opened #19 "Add TypeScript declarations"
Thinking about turning this into an Angular directive. The first step to that is to create TypeScript declaration files.

[2017-09-05 06:29] rikschennink commented on #19
Fork and go for it! 👍

Maybe it's possible to have Fitty as a dependency of the Angular directive (the directive wrapping it) so it's easy to update the directive to the latest version?

[2017-09-07 13:34] Fjonan opened #20 "fitty() ignores targets and parents padding"
In this case I want to fitty() a B tag inside a H1 tag - but I am certain that this behavior is not only in this case. Here you can see how the H1 is set up with padding used to "guide" how and where the text will break into a new line.
![beforefitty](https://user-images.githubusercontent.com/21336161/30165777-85fce354-93e1-11e7-944c-7782b9ef9b7e.jpg)
After applying fitty I expected the B tag to b

[2017-09-07 15:05] rikschennink commented on #20
It currently does not take into account parent element padding. I think wrapping the `b` element in a `span` with `display:block` will fix this for now.

[2017-09-09 11:26] hirbod commented on #20
could you please consider adding parent padding support? I got the same issue right now..

[2017-09-14 06:40] rikschennink commented on #20
@Hirbod Will look in to it.

[2017-09-14 06:41] #17 closed

[2017-09-15 07:44] rikschennink commented on #18
Fixed in version 2.2.4, now remembers original style attribute, adds new styles on top, and restores original styles when unsubscribing.

[2017-09-15 07:44] #18 closed

[2017-09-15 09:32] hirbod commented on #20
Thanks @rikschennink
But I was to able to solve the problem with your suggested workaround (wrapping a block element around it)

[2017-09-15 10:45] rikschennink commented on #20
@Hirbod Alright, great!

[2017-09-15 10:45] #19 closed

[2017-10-19 12:42] lukehatfield opened #23 "How to listen for "fit" event"
This may not be the right place to ask, but how do I listen for the fit event? In the docs it says, "Fitty dispatches an event named "fit" when a fitty is fitted."

[2017-10-19 17:16] rikschennink commented on #23
Hi @lukehatfield, no worries! :-)

The event is fired on the element that fitty is applied to. You can listen for it with `addEventListener` like so:

[code]

[2017-10-19 23:48] christianmagill commented on #20
I have the same issue I think. If I understand correctly, the parent container is not the element which contains the text object, but the parent of that element.

You essentially need the following setup

[code]
It would be great if this issue could be addressed, but in the meantime maybe a note could be made in the readme.

Also, thanks for the plugin!

[2017-10-20 07:38] rikschennink commented on #23
I've added an entry in the docs.

[2017-10-20 07:38] #23 closed

[2017-10-20 07:39] rikschennink commented on #20
No problem @christianmagill, glad you like it!

I've added an entry to the docs.

Using the parent padding in the calculations is not so much a problem as it makes fitty bigger and adds additional logic so it might result in a slower script. It's quite easily solved with the extra element, so for now I'll leave it at that.

[2017-10-20 07:39] #20 closed

[2017-10-20 13:53] ajlovesjs opened #24 "Issues with Safari"
Thank you for sharing this cool library. But fitty seems not to work when using Safari and @font-face together. If you use an own font with fitty, it sets the minimal font-size and doesn't fit it to it's div parent's width. In Safari it only works when using a standard font like Arial.

[2017-10-20 14:04] rikschennink commented on #24
Hi! Thanks for reporting, does the bug also occur with the [custom font loading logic](https://github.com/rikschennink/fitty#custom-fonts) in place?

[2017-10-22 08:00] Andrewyg opened #25 "Causing some issue using with max-width"
I have my site here: https://card.munucial.com:5118/

As you can see in a specified amount of characters typed in, it'll reach outside the image and will only be resized back if it's out of the range why?

[2017-10-22 12:11] rikschennink commented on #25
I'm not sure. There's a lot going on. Looking closer, it seems `fitty` is not enabled.

If you can supply a test case I'm happy to take another look, closed for now.

[2017-10-22 12:11] #25 closed

[2017-10-22 12:14] Andrewyg commented on #25
Yes sir since my app is in production I've just removed it for better user experience if you want you can test it by adding a color background then set a input or contenteditable div that is a bit smaller then the background and you'll find the issue but notice both two element can't reach the highest width or the issue might be harder to be discovered

[2017-10-22 12:22] Andrewyg commented on #25
Sir I've copy my code and enable fitty at https://card.munucial.com:5118/files/test.html

When you try to input you try to input 9~60 characters and there will be some letters outside the image but out of the range (>60, <9) it'll fit into the card

[2017-10-22 12:34] rikschennink commented on #25
I would think this problem is related to this issue:
https://github.com/rikschennink/fitty/issues/20

- The max-width won't work, `fitty` does not take it into account (it calculates available space based on the parent element).
- The parent element is wider than the image. Best to limit the width there instead of on the `fitty` element.

[2017-11-06 20:12] rikschennink commented on #24
Fitty has been tested with Safari (on MacOS and iOS), as I've heard nothing in the past 17 days I'll assume you've forgotten to setup the font loading logic. Close for now.

[2017-11-06 20:12] #24 closed

[2017-12-15 17:24] philipcressler opened #26 "Handling text-transform: Uppercase"
It doesn't seem like Fitty handles uppercased text via CSS. Am I missing something?

Thanks

[2017-12-16 10:34] rikschennink commented on #26
Thanks for reporting!

I just took a quick look in Chrome but it seems to work correctly. Can you create a test case on CodePen?

[2018-01-22 12:50] honsa opened #27 "Not working with letter-spacing"
Hi, thanks for this nice little plugin, could be very usefull.

Just one problem I am struggeling with, is that it seems not working if letter-spacing is used on the text element.

You can test it in my example with custom fonts and parent element with padding.

https://jsfiddle.net/rxmmpodf/19/

[2018-01-22 14:22] rikschennink commented on #27
Thanks! Glad to hear you find it useful :-)

I've just ran some quick tests in an attempt to fix it but wasn't really succesful. Will ponder on this some more.

[2018-02-03 08:25] #26 closed

[2018-02-03 08:30] rikschennink commented on #27
Ran some more tests. The problem is with the letter spacing being either fixed or relative to the font size. The current algorithm calculates the horizontal space occupied by the font. Then divides the available space by the occupied space, resulting in the scale factor. This works well enough, but stops working when child elements have margins or in this case letter-spacing.

The investigation co

[2018-02-03 12:23] honsa commented on #27
Thanks for your great efford.

Edit: I see it is not that easy.

[2018-02-26 11:30] klsdfr commented on #19
@lazarljubenovic do you have a hint how to import and use the module in Angular correctly?

I imported the module with
`import fitty from 'fitty';`

and then declared the fitty elements
`this.fitties = fitty('.fit', {
			minSize: 50,
			maxSize: 300,
			multiLine: true
		});`

and it worked, but when it comes to the updating on keyup-events it won't work:
`this.fitties.fit();`

It tells me that fi

[2018-02-26 13:58] rikschennink commented on #19
@klsdfr Maybe Angular generates new DOM nodes when the page changes and therefore the references are lost? Or is the `fitties` variable undefined? If that's the case, it might be a scope issue.

[2018-03-20 18:35] klsdfr commented on #19
@rikschennink it's more a problem of importing the module in a correct way via Typescript. That's why @lazarljubenovic wanted to create the directive.

Would be great to have a hint, how to be able to import it correctly in Typescript.

[2018-03-22 06:48] rikschennink commented on #19
@klsdfr I've got zero experience with Typescript, so unfortunately, for the moment, I can't help with anything related to it.

[2018-03-27 09:56] arggh opened #29 "Suggestion for an enhancement: shrink-only-flag"
I have a situation, where I want to make the text fit it's container only if it doesn't fit. If the text doesn't overlap it's parent's boundaries, I don't want anything to happen.

First I tried to achieve this by calculating the current font-size and setting it as `max`-option for Fitty. However, given our use case, this turned out to cause more issues.

Even when no resizing should have happened

[2018-03-27 13:07] rikschennink commented on #29
Hi @arggh!

Fitty calculates the difference between the width of the text container and the width of its parent container. If you set `width: 100%` on the text container, Fitty will think it fits perfectly and won't scale the text. Would that solve the issue?

[2018-03-27 13:27] arggh commented on #29
Thanks for the suggestion!

I already have my situation fixed with a forked version of Fitty, but I'll  give your idea a try and see if it solves the problem, at least partially. I think the _fixed font-size_-issue would still remain, since Fitty sets a pixel-based `font-size`-value for the element's style-attribute even before it has determined if the element should be scaled at all.

I just thou

[2018-03-28 11:54] rikschennink commented on #29
@arggh Okay, will close for now. I think the `100%` solution is actually quite nice (tried some other stuff first) and have a bit of trouble imagining use cases for text that would only grow (resulting in text that is too big overflowing its parent).

[2018-03-28 11:54] #29 closed

[2018-06-05 19:34] jcklpe commented on #9
@gragland Hey so does this js plugin detect height now, or does that gist linked work? I've been using textSlab.js and it works well for breaking stuff up into multiple lines but if the text being broken up is super long then it makes stuff waaaay to tall.

[2018-06-05 19:55] x35a commented on #9
@thedonquixotic linked gist has to work if you set `height` for text element

[2018-06-06 17:41] jcklpe commented on #9
@rosivanov Does it work with max-height?

[2018-06-06 19:00] x35a commented on #9
@thedonquixotic guess it should

[2018-06-07 12:51] searls opened #30 "Behavior when loaded with node is confusing"
If someone tries to require the module from Node (like in a REPL below)

[code]

It isn't clear what went wrong. I'd really recommend throwing an error or at least logging to stderr when this is attempted, at this point in your code:

[code]

It was really confusing to me when, separately, I wasn't able to get the import working as expected.

Oh, and thanks for writing fitty!

[2018-06-07 12:58] timseverien commented on #30
@searls I'm curious: what _did_ you expect what would happen when importing a browser library in node?

[2018-06-07 16:59] searls commented on #30
The same functions to be there, regardless of whether they worked. For example, I'd bail at the last possible moment, and not at require-time. Maybe a user will require `jsdom` right afterward only to find fitty is `{default: undefined}` instead of `{default: function thisWillBlowUpWithoutADom(){}}`.

[2018-06-13 15:50] deviousasti commented on #9
It's been a year since this issue was opened.
Are there any plans?

[2018-06-13 17:44] rikschennink commented on #9
@deviousasti The plans are there, it's the time that is the problem, can't believe it's already been a year.

[2018-06-13 18:44] deviousasti commented on #9
I just wrote my own:
[code]

### HTML
[code]

#### Usage

`let f = new FitText(document.querySelector(".fit-text")); f.fit();`

[2018-06-13 19:32] rikschennink commented on #9
Nice! Thanks for posting.

[2018-06-18 13:10] rikschennink commented on #30
@searls happy to merge any pull requests that fix this

[2018-06-20 17:41] jcklpe commented on #9
Why not do a pull request to add these changes in to the original plugin?

I'm just a designer learning to code so I get that my JS is super rusty and maybe I'm not understanding the conversation but that seems like a good idea right? If there's a limitation to the plugin, and a fix has been posted then shouldn't that change be pulled in?

[2018-07-18 06:09] jeremiahrose opened #31 "Does not work for wrapped text"
If a minimum font size is set, and the container div is made small enough so that the text is forced to wrap, the wrapped text does not increase in size to fill the width of the container.

[2018-07-20 06:40] rikschennink commented on #31
That's true, once the text is wrapped it is no longer scaled. This would require cutting up the text in two separate elements at the line wrap point and scaling both separate elements.

Fitty is aimed at being tiny and performant first and this would/could cause quite a bit of repaint/reflows on page load so therefore it's not in. Currently there are no plans to add this.

To circumvent this you c

[2018-07-20 06:40] #31 closed

[2018-07-20 23:27] jeremiahrose commented on #31
I agree, rescaling individual words separately depending on their wrapped / unwrapped status seems like it would be difficult and slow.

The only solution I could think of involves breaking the text into separate words, rendering each word as an SVG, then placing the SVGs in a Flexbox container, with flex-grow set according to the proportionate size of each word.

I tried it out and it worked pret

[2018-07-21 06:47] rikschennink commented on #31
Wonderful! Thanks for sharing!

[2018-08-19 22:37] kodeine commented on #19
anyone was able to make it work on angular 5?

[2018-08-20 12:06] klsdfr commented on #19
Just try my solution from above. It works well with angular 2-6.

[2018-08-20 15:39] kodeine opened #34 "Possible to fit the paragraphs?"
Hello,

Is it possible to fit the paragraphs? I notice that it sets `nowrap` on the element that makes half of the paragraph hide under the div.  Basically i am trying to achieve how facebook does to its posts while displaying. Less content posts are bigger and more content is to a minimum. Or should i achieve this on my own and set fitty based on content length? Just making sure i'm not missing a

[2018-08-20 20:27] rikschennink commented on #34
That’s not something Fitty is useful for. I would advice to count the number of characters and set the font size accordingly.

[2018-08-20 20:27] #34 closed

[2018-09-12 22:35] impactcolor commented on #9
@rosivanov thanks for adding that resize code.  Unfortunately it doesn't work for me.
I'm resizing the test with fitty('.fit'); then I attempt to resize it using scaleFontSize that you made with this: $('.fit').scaleFontSize({minFontsize: 12});  no errors it just doesn't resize to fit the  height.  Can you elaborate a little more on how it should work?  Or am I doing something wrong?

[2018-09-16 14:24] x35a commented on #9
@impactcolor sorry for late reply, hope you already have solved this problem.

[2018-10-04 11:41] KoalaBear84 commented on #9
Any updates on this? This is what I'm also missing right now :)

[2018-10-04 11:42] KoalaBear84 commented on #15
This would be great. As I now have this problem of it resizing even 'tick' of update with only 0.12px font-size or so. So it gets a little bigger, and the next time a little smaller, and so on.

[2018-10-10 19:31] iba-jsykes commented on #9
I had a problem where , since it only uses width, the lib made the text too tall for the container.

You can mod the following line where maxSize is the height of the parentNode :   for my project, jQuery was already injected so I used

    var maxHeight  = $(e.element).closest(".class-of-the-parent-element").height();

    e.currentFontSize = Math.min(Math.max(e.minSize, e.availableWidth / e.curr

[2018-11-23 13:22] certainlyakey opened #35 "Doesn't work in IE due to CustomEvent usage"
The README states that fitty works in IE10+. However, due to a CustomEvent being used in the code https://github.com/rikschennink/fitty/blob/d281cb8e371e68ea1ae952c980362f85c717647c/src/fitty.js#L163, in IE there's an `Object doesn't support this action` error appearing in console.

[2018-11-23 13:33] rikschennink commented on #35
You can add this polyfill to make it work in these browsers.
https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent#Polyfill

[2018-11-23 13:33] #35 closed

[2018-11-23 13:47] certainlyakey commented on #35
Yes, but it should probably be reflected in the README — either a note about the need for the polyfill or removal of IE from the supported browsers list. It cost me some hours to figure out what is the problem.

[2018-11-23 14:31] rikschennink commented on #35
Will update the readme, thanks!

[2019-01-02 23:25] iamcarbon opened #36 "Ability to adjust maxSize size after initialization"
We have a use case where we need to update the max-size after initialization. Would a patch / PR for this behavior be considered?

[2019-01-03 03:46] #36 closed

[2019-01-17 13:47] dy opened #37 "Not perfect fit"
Sorry for nagging but that is not perfect fit
![image](https://user-images.githubusercontent.com/300067/51322799-71b7c000-1a34-11e9-8122-c4da9197f2fd.png)

[2019-01-17 17:55] rikschennink commented on #37
Well, PR's are welcome.

[2019-01-17 17:55] #37 closed

[2019-02-14 09:03] smth opened #39 "Strange rendering on Firefox when using Grid View"
I'm using Fitty on a couple of pages. Didn't notice any problems when working locally, but once on a live server I started to get unexpected results. Essentially what I'm seeing is everything as expected on first load, but when moving between pages using Fitty, or refreshing the page, the calculations are wrong (font size too big), most noticeable in FireFox for me. When this happens, resizing the

[2019-02-14 10:16] MatthewPringle opened #40 "No src Folder"
Please leave the src folder in the npm

[2019-02-14 10:17] rikschennink commented on #40
A reason why would be nice

[2019-02-14 10:19] MatthewPringle commented on #40
There are other plugins that look for the src folder.

Such as ember-fitty

ENOENT: no such file or directory, scandir '/node_modules/fitty/src/'

[2019-02-14 10:24] rikschennink commented on #39
It does look weird in Firefox. Maybe somehow the grid is not set up when the page loads and fitty uses the entire page width? Some way to check that?

[2019-02-14 10:25] rikschennink commented on #40
I would think that's an issue of the ember-fitty library instead of fitty itself

[2019-02-14 10:47] smth commented on #39
I don't know, but I don't think its grid specific. The [sub-pages](https://gigs.smth.uk/micah-p-hinson-02-2019) don't use grid and have the same problem.

[2019-02-15 09:40] #40 closed

[2019-02-15 09:41] rikschennink commented on #39
I currently don't have time to look into this, happy to make changes if anyone can point out the origin of the issue.

[2019-02-15 15:48] smth commented on #39
Just a note to say that you won't see the issue at the above links now. I worked around the problem by wrapping `fitty()` in a `window.onload `.

[code]

[2019-02-17 12:58] rikschennink commented on #39
Okay, great! Thanks for sharing.

[2019-03-27 14:45] CiriousJoker opened #41 "Multiline doesn't upscale text after breaking it"
"Some word" fits into a container.
Then the container shrinks and it becomes
"Some
word".
Now, there would be enough width available to scale the text up, but it's not happening :(

[2019-03-27 17:50] rikschennink commented on #41
Please supply a test case

[2019-04-01 10:44] ciriousjoker commented on #41
Here it is:

https://codepen.io/ciriousjoker/pen/vMEBZN

Set view to side by side and resize until the text wraps into the second line. Notice how the font size stays the same as directly before wrapping.

[2019-04-02 06:49] rikschennink commented on #41
Ah, okay, now I understand. Fitty simply doesn't rescale wrapped text. It only handles single lines. You'd have to split the line yourself.

[2019-04-02 06:49] #41 closed

[2019-04-02 11:31] ciriousjoker commented on #41
Then I don't get how Multiline works. I thought Multiline is the same as Singleline in that it rescales until the minimum font size and when it doesn't work anymore it splits it into two lines and starts from max fitting font size again.

Since it's not that way, do you have any plans to implement that?

[2019-04-02 12:32] rikschennink commented on #41
It will force text on multiple lines if it no longer fits the container (if minSize reached).

It would require a totally different approach, as I'm super busy with other projects I don't have the time to look into it.

[2019-04-02 20:10] ciriousjoker commented on #41
Ok, no problem, I found another solution in my case.

[2019-04-04 23:55] dshastry commented on #27
Just ran into this issue. Not the most ideal solution but it seems to work pretty well in my case. Here's how I did it:

[code]

[2019-04-23 23:54] smth opened #42 "Scaling multiline text"
I think this is a feature request, but perhaps there is already a way to do it. I'd like to have multiple words on separate lines, scaled equally, so that the longest word fills the width. I guess what this would mean is comparing the font size of each word, then applying the smallest to all of them?

[2019-04-26 08:23] rikschennink commented on #42
Hi, this is currently not possible (and not something I plan to add). You can however split the line in separate words, wrap each word in a `<span>` and then use fitty on each `<span>`.

[2019-04-26 08:23] #42 closed

[2019-05-20 15:34] HugoHeneault commented on #41
@CiriousJoker Would you mind sharing your solution? I'm also looking for a nice way to do that! Thanks! 🍻

[2019-05-20 19:50] ciriousjoker commented on #41
@HugoHenault Sorry, not really. I just made the surroundings look nice so it doesn't look bad. Far from perfect, but works for us.

[2019-05-23 04:57] pedalpoweredsoftware opened #43 "When restrained by maxSize, the text doesn't obey text-align: center"
I thought a comment would be perhaps appropriate for this case -- perhaps in the Notes section of the README. Since display: inline-block is being automatically applied to fitty'ed elements (when not already applied in the CSS), text-align: center must applied to a container, rather than to the jiffy'ed element, if one desired the jiffy'ed element to be centered when maxSize restricts the text fro

[2019-05-28 06:06] rikschennink commented on #43
Thanks, I'll leave it as is for now, if more devs pile on I'll add a note.

[2019-05-28 06:06] #43 closed

[2019-06-04 20:33] GuilhermeCouto commented on #9
any news?

[2019-06-05 05:39] rikschennink commented on #9
@GuilhermeCouto apart from solutions posted by other devs, no

[2019-06-14 14:41] RauppRafael opened #44 "Font size won't scale under 12px"
Even if I set the `minSize` to `8`, the smaller it gets is `12px`

[2019-06-17 06:16] rikschennink commented on #44
All browsers? All operating systems? Can you supply have an isolated test case?

[2019-06-27 16:27] dumanadam opened #45 "Fitty on bootstrap carousel , hidden text issue"
Hi,
I noticed when used in a bootstrap carousel, if I have 2 slides with texts, only the visible slide will have the text "fittified".

[In this pen](https://codepen.io/anon/pen/pXdaYY), if the first slide is marked as active, the everything works as planned for the first slide but the second slides text is not "fittified"

[In this pen](https://codepen.io/anon/pen/Kjyozj) if the active slide is s

[2019-06-28 05:41] rikschennink commented on #45
You can work around this by running `fitty()` or `instance.fit()` when the slide becomes visible (there's probably an event for this)

[2019-06-28 09:31] dumanadam commented on #45
ok  ill try that, thanks.

[2019-06-28 09:31] #45 closed

[2019-08-23 03:12] MatanMaimon commented on #9
same issue..please support this feature

[2019-08-23 03:33] MatanMaimon commented on #9
nice
maybe worth to mention to add
`line-height: 1;`
in the parent block

[2019-11-07 20:23] landman opened #46 "Not working with Links"
Hi,

i have something like that:
<a><div class=".fit">Text to fit</div></a>

But it is not working. It works only with <a> inside the div. but than is not styling the link  :)

[2019-11-08 07:11] rikschennink commented on #46
Can you provide a demo, say on CodePen

[2019-12-31 01:14] godhandkiller commented on #30
@searls So how did you import the library to your project? I'm not able to do it

[2020-01-03 01:42] douglasg14b opened #48 "Not fitting, only uses max font size"
I'm using this inside of a vue directive to try and fix text to it's container, however it does not seem to actually do anything except set the font size to the max I allow.

Watching the `fit` event shows no change even when I manually trigger the `fit()` function on the element.

The relevant markup looks like:

[code]

The `span` that I am using `fitty()` on it larger than `div 2` since the tex

[2020-01-07 10:16] rikschennink commented on #48
Not sure, probably has to do with vue maybe re-rendering the DOM and fitty losing the element reference?

Do you see the same issue outside of Vue.

[2020-01-07 19:57] douglasg14b commented on #48
I don't think it's a DOM re-rendering problem, the DOM only changes in reaction to model changes. Even then it changes the content (The actual text in this case, which is static), not the styling...etc unless I explicitly set it up to do so. I only call fitty AFTER the DOM has finished rendering the models state.

Manually calling fitty after the DOM has been rendered  (And no more reactive change

[2020-01-08 07:54] rikschennink commented on #48
@douglasg14b Please understand that Fitty is a free project that seems to work for most use cases, if it doesn't that's unfortunate and while I truly would like to fix/diagnose it, I'm super busy with work that does put bread on the table. I might have time to look into this further somewhere in the next few weeks.

[2020-01-09 22:31] earthlingdavey commented on #30
If you can use imports... `import fitty from 'fitty';` works for me.

[2020-01-22 15:34] iamjleishman opened #49 "Latest fitty version (2.3.0) is unavailable on npm"

[2020-01-22 18:04] rikschennink commented on #49
Fixed 👍

[2020-01-22 18:04] #49 closed

[2020-01-29 16:33] ABaier commented on #23
Is it possible to use this event to fire another function only after the fitting is done? Or how would I achieve this? Thanks in advance.

[2020-01-29 18:05] rikschennink commented on #23
@ABaier when the event fires the new styles have been applied and the fitting is done.

[2020-01-29 18:51] alejandroiglesias opened #50 "Why is display:inline-block style necessary on the element?"
Hi, I'm wondering if `display: inline-block` is necessary. I did a quick test to force the display to `block` and it works fine. This would help me solve the use case I'm having in which I would need block elements.

[2020-01-30 07:46] rikschennink commented on #50
`block` causes the measurements to be off when the contents is smaller than the parent container (as with block the container will expand to fit the parent container horizontally).

[2020-01-30 17:35] iamjleishman opened #51 "fit text to parent height"
#9
I have implemented a solution for this, but don't have the ability to publish to a branch on this repo. What is the proper way to make a pull request for this?
P.S. I've never contributed to an open source project before so I'm a bit of a noob.

[2020-01-30 18:18] #51 closed

[2020-01-30 23:31] alejandroiglesias opened #53 "`freeze`/`unfreeze` functions are not defined in returned object"
Hi, I wanted to mention that the object returned from the call to `fitty` contains the `element`, `fit`, and `unsubscribe` properties, but no `feeze`/`unfreeze` as stated in the docs. Is that intentional? What I'm trying to achieve is suspending updates, but not resetting the element to its original font size.

[2020-01-31 03:42] alejandroiglesias commented on #50
@rikschennink thanks. I managed to resolve my use case by calling `unsubscribe` when I needed to change the text size. By the way, instead of calling `unsubscribe` I wanted to call `freeze` so that styles aren't removed, but the method doesn't exist. I opened a new issue for that (#53).

[2020-01-31 06:56] rikschennink commented on #53
I think you need to update to the latest version.

[2020-01-31 06:56] #50 closed

[2020-01-31 14:58] mshoperi commented on #48
It's not fitting for me either. Overflows, and uses max-font all the time.

[2020-02-03 11:58] rikschennink commented on #48
~Closed because inactive.~

[2020-02-03 18:16] douglasg14b commented on #48
Uh, why close the issue?

It hasn't stopped being an issue unfortunately, you specifically said that you are unable to dedicate time to it's discovery at this time due to other obligations. Which I respect. And I don't expect you to solely try and sort this out, but rather assist me in figuring out the cause when the time becomes available.

However, it is much more difficult to respect closing is

[2020-02-03 18:17] rikschennink commented on #48
@douglasg14b You're absolutely right, I quickly read my last comment this morning and missed the last line. I'll re-open it.

[2020-02-03 18:24] douglasg14b commented on #48
Thanks! Sorry for the grumpy reply, my Mondays are usually fraught with updating long-standing issues that ProBot is marking as stale...

[2020-02-03 18:25] rikschennink commented on #48
@douglasg14b All good ;-)

[2020-02-15 17:34] sgbeal opened #54 "RFE: support array/element list as fitty() argument"
`fitty()` current accepts a selector or single element as its first argument. "It would be really cool" if it also accepted any container which has a `forEach` method, e.g. an array or `querySelectorAll()` result, which fitty could then internally transform into an array for its own use.

Something along the lines of (untested):

[code]

[2020-02-17 07:41] rikschennink commented on #54
Would be nice indeed, I think this should do it, happy to accept a PR

[code]

[2020-02-17 07:45] sgbeal commented on #54
Other than cloning the occasional repo, i don't do git - i'm a developer on the Fossil SCM  project ;). The overhead of figuring out how to do a PR seems like overkill, considering there's a trivial 4-line implementation above.

[2020-02-25 02:44] lifeinchords commented on #27
Is using `letter-spacing` with fitty currently possible?

[2020-02-25 07:16] rikschennink commented on #27
@lifeinchords no unfortunately not

[2020-02-27 15:38] chaosKP opened #55 "Allowing differnt units for minSize and maxSize"
I am only using em and % units for my font-sizes, so it would be great if they could be used for the minSize and maxSize option.

[2020-03-19 14:40] Daeamon opened #56 "Different font-size for each element?"
Hello, how to do different font size for each element?
`fitty('.fit-all', {
    minSize: 10
});`

[2020-03-19 15:32] rikschennink commented on #56
You have to do this yourself. Instead of passing the selector to fitty you loop over te result yourself and pass different configurations to each element.

[2020-03-19 15:32] #56 closed

[2020-03-19 15:43] Daeamon commented on #56
Its cool. For 12000 items;

[2020-03-19 15:50] rikschennink commented on #56
think.

[code]

[code]

or

[code]

[code]

there's all sorts of other ways you could define that min size

[2020-03-20 23:09] usb248 opened #57 "How to be sure that redraw is finished"
I have some issues with fitty.
When i call `fitty('selector')' in the rest of the code, fitty is sometimes still calculating/computing the font-size.

So i do:
[code]
Have you a safer solution ?

Thanks

[2020-03-20 23:30] usb248 commented on #55
+1

[2020-03-22 04:35] Daeamon commented on #56
Sorry, but all this does not work.
I use this code and all text blocks have the same font size
[code]
![Screenshot_36](https://user-images.githubusercontent.com/3263898/77242459-a4001700-6c0f-11ea-86fa-40ecfd076a9a.png)

[2020-03-23 07:40] rikschennink commented on #57
I'd use the `"fit"` event to determine when all element have been resized

[2020-03-23 09:53] usb248 commented on #57
Hi @rikschennink , thank you for your reply.
It's almost what i'm looking for.
`fit` event is dispatched for each fitty element ([here](https://github.com/rikschennink/fitty/blob/gh-pages/dist/fitty.module.js#L83))
But i would like to get only one emitted event for all fitties.
If i get last fitty element, i add event listener 'fit' on this, when this `fit` event is trigerred, it means that all pr

[2020-03-23 10:05] rikschennink commented on #57
You could listen and count if all fitties have fired the event. I suspect listening to the last one will work as well but it's not as robust.

[2020-03-23 10:07] usb248 commented on #57
It would be more simple for programmatic usage to return a promise which is resolved rather than an attached event on DOM element. In librairies like react/vue/angular, we don't manipulate directly dom element. :/

[2020-03-23 10:10] usb248 commented on #57
@rikschennink Yes, but it means that i need to attach `fit` event listener on all fitties DOM elements, create a promise for each event listener, and wait that all promises are resolved... not very clean solution. I need to run again this operation X times on same elements, so i have to manage duplicate event, array of promises and so on ... Not very handy

[2020-03-23 10:39] rikschennink commented on #57
I guess you could write a wrapper component that does this.

[2020-03-23 10:47] usb248 commented on #57
i use vue.js, and fitties elements are injected in my page with v-html directive. So i can't use a wrapper component. I will modify your ES module for my usage and transpile to ES5+UMD with babel.
Thanks anyway for your help.

[2020-03-31 22:56] bsansone opened #58 "How to handle absolute positioned grandparents"
I'm using the [Gridstack](https://gridstackjs.com/) library for creating draggable, resizable, responsive layouts. One of the layouts contains just a number with a header. Unfortunately gridstack has styles attached to each grid item that are absolutely positioned. It looks like these styles mess with fitty when calculating the size. I copied the styles over into a CodeSandbox that reproduces the

[2020-04-02 08:27] rikschennink commented on #58
I just tested this on the codesandbox and it seems to work fine in Chrome?

[2020-04-02 14:28] bsansone commented on #58
@rikschennink Sorry could you try opening it in fullscreen? https://kd4h2.csb.app/

[2020-04-07 07:05] rikschennink commented on #58
still no issue, this is on macos

[2020-06-07 04:25] nathanchase commented on #48
Have you tried just doing a call on the element itself from within your Vue component instead of using a directive? I have something like the following working fine in my Vue (Nuxt) project:

[code]

[code]

[2020-07-02 10:00] kinging123 opened #59 "originalStyle enforces old CSS after external property changes"
Fitty sets the element's CSS properties every time after a rerender, based on the `originlStyle` variable. This means that if, for example, we change the color of the text *after* fitty was first initialized, the changed color will be reset to the original color the element had.

## Steps to reproduce:
1. Initialize fitty on an element
2. Change the CSS color of the element, via JS
3. Change the c

[2020-07-03 10:50] rikschennink commented on #59
Thanks for the detailed issue report, will look into this on Monday.

[2020-07-06 14:32] rikschennink commented on #59
I wonder if it's possible to simply destroy the fitty before changing the style, and then recreate it?

If not, I agree that option 2 is probably best, it seems performance wise using cssText or setting separate properties doesn't make a huge difference.

Happy to accept a PR

[2020-07-06 15:15] reuvenkarasik commented on #59
I thought about destroying and recreating the fifty instance, but it seems like excessive measures for the end-developers and I was also afraid it would cause glitches and run slower.

I created a pull request - #60, feel free to merge it and release a new version :)

[2020-07-10 12:23] LeelaBasavaiah commented on #9
The gist link above does not come up now. Can some one please paste the code snippet here if it works for height?  The other piece of code does not set max and min fonts.

How to make the resize working with height as well?

[2020-07-15 16:13] duepi commented on #55
+1

[2020-07-27 08:06] #59 closed

[2020-07-29 17:10] smth opened #61 "fitty_module is not a function"
Hi

I'm getting `TypeError: fitty_module is not a function` when using Fitty with Rollup.

I'm doing this:
[code]

My Rollup config is essentially [this](https://github.com/rollup/rollup-starter-app/blob/master/rollup.config.js).

What am I doing wrong?

[2020-07-31 06:26] rikschennink commented on #61
what if you do `import fitty from 'fitty/dist/fitty.module.js'`

[2020-07-31 07:44] smth commented on #61
Same result.

[2020-08-03 03:47] PaulMorel commented on #61
I made it work like this with Rollup
[code]

I don't 100% understand all the various ways to import and export modules, but from my understainding the default export seems to be an object and within the `default` key of that object, we have the `fitty()` function as the value.

[2020-08-03 08:28] smth commented on #61
That resulted in the same error for me, but did prompt me to try the below, which seems to work. :+1:

[code]

[2020-08-03 10:05] rikschennink commented on #61
Okay, nice, happy to make adjustments to the package.json to get this working, but not sure why this happens. Will leave the issue open for any suggestions.

[2020-08-03 13:29] PaulMorel commented on #61
@rikschennink From a quick observation, it seems like it might be due to an older version of Babel? I tried transpiling the source using Babel v7.11.0 and the resulting file is different. In this case fitty gets assigned to a global `_default` var instead of being assigned to `exports.default`. If we give the exported function a name, it should be available as a global variable other than `_defaul

[2020-08-18 16:56] rikschennink commented on #61
@PaulMorel thanks, will look into it when I have some free time

[2020-08-22 04:29] madmod commented on #9
I am currently in need of this and am willing to contribute a PR if someone can point me in the right direction.

[2020-08-24 11:36] rikschennink commented on #9
@madmod I'm open to merging it, but only if it's fast and doesn't add too much weight.

[2020-08-26 07:18] LeelaBasavaiah commented on #9
Please have a look at the bold lines which I added to make it work:

 l = function (e) {
          (e.availableWidth = e.element.parentNode.clientWidth),
            (e.currentWidth = e.element.scrollWidth),
            **(e.availableHeight = e.element.parentNode.clientHeight),
            (e.currentHeight = e.element.scrollHeight),**
            (e.previousFontSize = e.currentFontSize),

[2020-08-26 17:15] toddpadwick opened #63 "Can't seem to get fitty to work in a vue.js component."
I am trying to get fitty to run in vue js component and have imported the plugin, and am then running the method on the mounted() lifecycle hook. But its returning the `reference error: fitty is not defined` error.

Here is my code. do you know how I could get this working?

[code]

[2020-08-27 06:45] rikschennink commented on #9
Thanks, this looks like a super small change, I'll take a look at this sometime in the next couple weeks.

[2020-08-27 06:49] rikschennink commented on #63
Maybe related to: https://github.com/rikschennink/fitty/issues/61

Also, in your snippet you're importing `Fitty` with a capital `F` instead of `fitty`.

[2020-08-27 08:38] toddpadwick commented on #63
You're right. it was just a stupid mistake on my part - Fitty with a capital F instead of lowercase. Thanks @rikschennink

[2020-08-27 12:20] #63 closed

[2020-09-09 07:49] rikschennink commented on #61
Just tested with codesandbox but seems to work fine:
https://codesandbox.io/s/fitty-demo-bzkfb?file=/src/index.js

[2020-09-09 08:17] rikschennink commented on #9
@LeelaBasavaiah can you create a public demo of this code on https://codesandbox.io

[2020-10-23 15:09] jmlemon46 commented on #1
Can you share documentation on how to refresh fitty elements based on adobe fonts loading? I couldn't figure it out based upon the current web fonts documentation.

[2020-10-24 07:59] rikschennink commented on #1
@jmlemon46 this should work:
https://github.com/rikschennink/fitty#custom-fonts

[2020-11-11 00:16] timothyachumba opened #65 "How can I require('fifty')?"
I'm trying to use require to import Fitty but I seem to be running into issues.

**home.js**
[code]

**Error**
`Uncaught TypeError: fitty is not a function`

Any thoughts as to whats going on?

[2020-11-11 08:47] rikschennink commented on #65
I think you'll have to transpile the module version to use it with require. I'd advise using import or a dynamic import nowadays.

[2020-12-23 23:02] bfalchuk opened #68 "strange behaviour after back button return to fitty page"
Has anyone seen the following behavior:
- do a successful fitty call on a div
- navigate to a new page
- on back button the div is now no longer fitty-ied (e.g., the previously fitty-ied text has been re-aligned/re-sized)

Any general or specific guidelines here? (is there some gotcha with style files.. ?)

[2020-12-28 13:46] rikschennink commented on #68
I'm not sure, can you provide a test case?

[2021-01-14 07:11] trusktr opened #70 "Text downscales, but does not upscale on delete of characters. How to upscale?"
For example type in the boxes, then delete characters:

https://codepen.io/trusktr/pen/8cd6d4a8da11e878bb0f044e66144019

Is there a way to make it upscale when deleting characters?

[2021-01-14 07:46] rikschennink commented on #70
Awesome demo Joe, I just saw it on Twitter!

Not sure why the `<div>` that wraps the text is full width (as it's set to `display: inline-block`) but if you add `width: min-content` to it seems to fix the issue.

[2021-01-25 14:38] YorelCayla opened #71 "Control line break"
When your text is across multiple lines, a feature to change the line break would be useful.
It's seems that the script try to make the text on a single line (as much as possible within the min-size).

In some case switch to the max size (possible within the height of the element) would make a better result. In the example below: The first block have a line break after "FOR" the height of the bloc

[2021-01-26 10:06] rikschennink commented on #71
I'd advise to create multiple fitties instead of moving the complexity to determine how to handle line breaks into Fitty itself.

[2021-01-26 11:15] YorelCayla commented on #71
Thanks for your answer. Do you have a recommandation to make it without modifing the text ? I would like an automatic typsetting in order to avoid any user interaction on the text.

[2021-01-26 12:09] rikschennink commented on #71
I'd recommend parsing it either on the backend or frontend and then splitting it automatically based on the <br> in the `textContent`

Will close the issue.

[2021-01-26 12:09] #71 closed

[2021-01-26 13:21] YorelCayla commented on #71
Corrrect me if I'm wrong, if we parse the text every line will have a different sizes ?
The idea is to have the same font size on for the whole paragraphe.

[2021-01-26 13:25] rikschennink commented on #71
@YorelCayla aha. no probably not. Alternatively you could scale "best wishes for" and then apply the same style to "2021" by listening for the `'fit'` event.

[2021-01-31 00:57] trusktr commented on #70
Oh interesting! Thanks for the tip. Do you know why that matters?

[2021-01-31 06:46] rikschennink commented on #70
The width needs to be linked to the width of the text, if it’s not, fitty can’t determine the space text requires.

will close 👍

[2021-01-31 06:46] #70 closed

[2021-03-02 09:44] rikschennink commented on #65
Closed because inactive

[2021-03-02 09:44] #65 closed

[2021-03-02 09:44] rikschennink commented on #68
Closed because inactive

[2021-03-02 09:44] #68 closed

[2021-03-02 09:44] rikschennink commented on #58
Closed because inactive

[2021-03-02 09:44] #58 closed

[2021-03-02 09:45] rikschennink commented on #57
Closed because inactive

[2021-03-02 09:45] #57 closed

[2021-03-02 09:45] rikschennink commented on #54
Closed because inactive

[2021-03-02 09:45] #54 closed

[2021-03-02 09:46] rikschennink commented on #53
Closed because inactive

[2021-03-02 09:46] #53 closed

[2021-03-02 09:46] rikschennink commented on #46
Closed because inactive

[2021-03-02 09:46] #46 closed

[2021-03-02 09:46] rikschennink commented on #44
Closed because inactive

[2021-03-02 09:46] #44 closed

[2021-03-02 09:47] rikschennink commented on #39
Closed because inactive

[2021-03-02 09:47] #39 closed

[2021-03-02 09:47] rikschennink commented on #30
Closed because inactive

[2021-03-02 09:47] #30 closed

[2021-05-04 19:12] radovanobal commented on #48
The same happens inside PowerBI custom visuals. But it's stuck at 18px font size for the minimum font size. It does listen to the max limit.

[2021-05-29 08:13] hyvyys commented on #55
Having `vh` and `vw` supported would be great too!

[2021-06-02 10:08] cb109 commented on #9
I would love to see support to make text respect the height of the container in fitty.js, that would make it the best text fitting solution I have seen yet :+1:

[2021-06-13 08:28] Ursus51 opened #73 "no function after Wordpress logout"
Hi, i have successfully installed the functionality - so far so good. However, the script only works as long as I am logged into Wordpress.

I have added the following code to the functions.php of my child theme (impreza):

function child_scripts() {
 wp_enqueue_script( 'fitty', get_theme_file_uri( '/js/fitty.min.js' ), array(), filemtime( get_theme_file_path( '/js/fitty.min.js' ) ), true );
 wp_e

[2021-06-14 09:02] rikschennink commented on #73
This is an issue related to WordPress so maybe ask here https://wordpress.stackexchange.com

[2021-06-14 09:02] #73 closed

[2021-06-16 14:40] svennerberg opened #74 "Wrong method described in README.md"
I think there's a slight error in the README.

it says:

[code]

but I believe it should be:

[code]

or am I missing something?

[2021-06-21 06:33] rikschennink commented on #74
No, `destroy` removes the fitty logic and restores the element to its original state.

[2021-06-21 07:35] svennerberg commented on #74
@rikschennink Alright! Is there any particular reason that destroy() is not included in the list of methods just above? I just found it slightly confusing. Plus I got an error when trying to use the destroy method but not with the unsubscribe method.

[2021-06-22 07:25] rikschennink commented on #74
Checked again, you're right, it should be `unsubscribe`, sorry just been a while that I looked at the code. Will update snippet 👍

[2021-06-22 07:34] svennerberg commented on #74
Great! 👍

[2021-06-22 07:55] #74 closed

[2021-07-14 15:11] cdalexndr opened #75 "Minify module js"
Add minified module js to dist for importing es6 module directly in browser without any module loader.

[2021-07-14 15:26] rikschennink commented on #75
done in `2.3.5`

[2021-07-14 15:26] #75 closed

[2021-10-01 03:40] 7zf001 opened #76 "SyntaxError: Unexpected token export"
Why can't I import directly in Jest?

![image](https://user-images.githubusercontent.com/24474049/135561628-348987f7-e920-4e5c-9121-085b49ecf09f.png)

[2021-10-11 17:39] bobartlett opened #77 "Only fire below a specific screensize"
Is there a way to make fitty only fire if the browser width is below a certain size? Otherwise, the text will display like fitty has not been run at all?

[2021-10-12 06:41] rikschennink commented on #77
You could use https://pqina.nl/conditioner/ for that.

Will close as this is not related to Fitty itself.

[2021-10-12 06:41] #77 closed

[2021-10-13 13:00] tatof commented on #27
Please keep this post on top in "issues". It would be a nice feature but it's oke that it doesnt work. Only took me 15 min to know the problem and fix it. Without this post i've would be searching for a fix for ever 😂

ps. for people with custom fonts + letter-spacing. You could edit the base font with font creator tools and change the letterspacing there. (not the best fix)

[2021-12-15 17:17] vlad909 commented on #76
I found a solution: u must change your import to
`import fitty from 'fitty/dist/fitty.min.js'`
it works perfectly for me

[2021-12-16 08:00] 7zf001 commented on #76
@vlad909 yup, thanks, that’s what I did.

[2022-01-10 06:39] maxfriedmann opened #79 "Export "FittyOptions" interface"
First: Many thanks for this great library!

We're using your library inside a configurable angular directive. It would be useful if we could just use your FittyOptions interface for proper typing. Unfortunately the interface is not exported inside the index.d.ts.

Would you mind changing that?

[2022-01-10 06:52] rikschennink commented on #79
Good idea 👍

[2022-01-10 06:52] #79 closed

[2022-01-10 10:49] maxfriedmann commented on #76
@vlad909's solution did not work for me since typescript would complain about missing types.

Ugly workaround for me:
[code]

[2022-01-19 10:31] MatteoCampinoti94 opened #81 "oldValue and newValue are NaN"
Hi,
I'm having this weird issue with fitty.

I have the following HTML structure:
<img width="608" alt="Screenshot 2022-01-19 at 11 27 53" src="https://user-images.githubusercontent.com/5142004/150112550-95a13b67-84b2-4b1f-8325-5785154d2a28.png">

And I'm using muicss together with this simple stylesheet:
<img width="431" alt="Screenshot 2022-01-19 at 11 19 35" src="https://user-images.githubuserc

[2022-01-20 08:14] rikschennink commented on #81
can you create a public test case for this?

[2022-01-20 08:37] MatteoCampinoti94 commented on #81
Here is the index file (minus the backend template parts). The actual web app has already been updated with a different method so no online test alas :/

GitHub doesn't allow HTML extensions, so I had to change it to txt [index.txt](https://github.com/rikschennink/fitty/files/7903555/index.txt).

[2022-01-20 09:24] rikschennink commented on #81
It would be easiest if you can create a reproduction on codesandbox.io

[2022-01-20 10:30] MatteoCampinoti94 commented on #81
Here it is https://codesandbox.io/s/fitty-test-29ksf

Didn't know about that website, thanks for the suggestion!

[2022-01-21 07:40] rikschennink commented on #81
It throws an "Cannot import an empty path" error, not sure what I should be looking at?

[2022-01-21 08:54] MatteoCampinoti94 commented on #81
Fixed it. It's a codesandbox error, apparently it doesn't like empty src attributes. To see the error just enter values in the username and label fields. The example tags update the content correctly, but the fit events cannot determine their font size.

[2022-01-24 08:18] rikschennink commented on #81
Tried to find the issue but wasn't successful.

I'd restart with a basic page and then work my way from there to find at what point the calculations go wrong.

[2022-01-24 09:16] MatteoCampinoti94 commented on #81
Will try 👍

[2022-06-30 03:25] tkforce opened #83 "Fitty calculate font-size will cause text to be ellipsed when using `text-overflow: ellipsis`"
## Current behavior
When applying `overflow:hidden` and `text-overflow: ellipsis` to the fitty element while setting the `max-width` of the fitty element to be the exact width of it's parent, the css ellipsis will kick in.

## Expected behavior
Ideally when the max-width of the fitty element is the same as it's parent's width, the calculated font-size should not be causing ellipsis to work.

## De

[2022-06-30 05:55] rikschennink commented on #83
true, I think it would be best to set text-overflow to its default value on elements that are used with Fitty

[2022-07-04 01:57] tkforce commented on #83
I see your point, but what we're trying to achieve is to have a min font-size on the Fitty text, and when the font-size can't get any smaller (say 8px), the truncation will kick in and ellipsis the part that is out of the container.

But it seems that `text-overflow: ellipsis;` will causes the ellipsis to kick in even when it doesn't seems to be needed (when the last character is very close to the

[2022-07-04 06:45] rikschennink commented on #83
I'll leave this issue open then.

[2022-08-03 19:21] varunarora commented on #76
Such a non-elegant solution. Someone who works on the library may consider submitting a PR to fix this.